<div class="container">
  <div class="row">
    <div class="col s12 center-align">
      <h1>Roomies</h1>
    </div>
    <div class="col s12 m4 l3">
      <!-- Note that "m4 l3" was added -->
      <ul>
        {{#each users}}
        <li>
          <p>
            {{this.id}}. {{this.firstName}}

            <button data-userid="{{this.id}}" class="deluser">Delete</button>
          </p>
        </li>
        {{/each}}
      </ul>

    </div>

    <div class="col s12 m8 l9">
      <!-- Note that "m8 l9" was added -->
      <form id="addUser" class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <input name="first" placeholder="Placeholder" id="first_name" type="text" class="validate">
            <label for="first_name">First Name</label>
          </div>
          <div class="input-field col s6">
            <input name="last" id="last_name" type="text" class="validate">
            <label for="last_name">Last Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input name="tel" id="tel" type="tel" class="validate">
            <label for="tel">Phone</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input name="email" id="email" type="email" class="validate">
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i></button>
        </div>
      </form>

    </div>

  </div>
</div>



{{!-- <h2>Add a Movie to Watch</h2>
<form id="addmovie" class="button-size">
  <textarea type="text" name="movie"></textarea>
  <button type="submit">Save Movie!</button>
</form>

<h2>Update a Movie</h2>
<form id="updatemovie" class="button-size">
  <input type="text" name="id" placeholder="id">
  <textarea type="text" name="movie" placeholder="what do you want to update this movie title to?"></textarea>
  <button type="submit">Update Movie!</button>
</form> --}}

<script type="text/javascript">
  $(".deluser").on("click", function (event) {
    var id = $(this).data("userid");

    // Send the DELETE request.
    $.ajax("/users/" + id, {
      type: "DELETE"
    }).then(
      function () {
        console.log("deleted id ", id);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

  $("#addUser").on("submit", function (event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    var newUser = {
      firstName: $("#addUser [name=first]").val().trim(),
      lastName: $("#addUser [name=last]").val().trim(),
      phone: $("#addUser [name=tel]").val().trim(),
      email: $("#addUser [name=email]").val().trim()
    };

    console.log(newUser)

    // Send the POST request.
  $.ajax("/users", {
      type: "POST",
      data: newUser,
      dataType: 'json'
    }).then(
      function () {
        console.log("added new user");
        
        location.reload();
      }
    );
  });

  $("#updatemovie").on("submit", function (event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    var id = $("[name=id]").val().trim();

    var updatedMovie = {
      movie: $("#updatemovie [name=movie]").val().trim()
    };

    // Send the PUT request.
    $.ajax("/movies/" + id, {
      type: "PUT",
      data: updatedMovie
    }).then(
      function () {
        console.log("updated id ", id);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });
</script>